[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "BlueRetro"]
	path = BlueRetro
	url = https://github.com/PichardoLuis/BlueRetro.git
[submodule "third_party/ogx360"]
	path = third_party/ogx360
	url = https://github.com/PichardoLuis/ogx360.git
